@inherits LayoutComponentBase

<div class="page">
    <NavMenu/>

    <main id="main" class="main">
        @Body
    </main>
    
    <footer id="footer" class="footer">
        <div class="copyright">
            &copy; Copyright <strong><span>Trivia Trouble</span></strong>. All Rights Reserved
        </div>
    </footer>
</div>